* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
}

.header {
    background-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-family: "Economica";
    font-size: 40px;
}

/* Styles for the books */
.book-display {
    background-color: white;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 17%);
    grid-template-rows: 35vh;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 30vh;
    margin-top: 15px;
}

.title, .author, .pages {
    font-family: "Roboto";
}