* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
}

.header {
    background-color: #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-family: "Economica";
    font-size: 40px;
}

/* Styles for the books */
.book-display {
    background-color: white;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 17%);
    grid-template-rows: 35vh;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 30vh;
    margin-top: 15px;
}

.title, .author, .pages {
    font-family: "Roboto";
}

#read {
    margin-top: 5px;
}

.read {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 10vh;
    height: 3vh;
    font-family: "Roboto";
    color: white;
    border: solid 1px #d6d3d1;
    background-color: #7dd3fc;
}

.remove {
    margin-bottom: 40px;
    margin-left: 21vh;
    width: 5vh;
    color: white;
    border: solid 1px #d6d3d1;
    font-size: 1rem;
    position: relative;
    background-color: #3b82f6;
}

/* Styling for the new book button */
#new-book-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5vh;
    width: 20vh;
}

/* Styling for the form for inputting book information */
.create-book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    width: 40vh;
    height: 45vh;
}

input {
    display: block;
    /* margin-bottom: 20px; */
    width: 230px;
    height: 20px;
    text-align: left;
}

label {
    width: 15rem;
    margin-bottom: 15px;
    font-family: "Roboto";
    text-align: left;
}

form>label+label+label+label {
    text-align: center;
}

form>label+label+label+label+input {
    text-align: center;
}

/* Media queries to make the screen more responsive */
@media screen and (max-width: 1096px) {
    .book-display {
        grid-template-columns: repeat(4, 25%);
    }
}

@media screen and (max-width: 770px) {
    .book-display {
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (max-width: 425px) {
    .book-display {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 325px) {
    .book-display {
        grid-template-columns: repeat(1, 100%);
        margin-left: 10%
    }
    .remove {
        margin-bottom: 20px;
    }
    #read {
        margin-left: 0px;
        width: 230px;
    }
    label {
        margin-left: 20px;
    }
    input {
        width: 200px;
    }
}